.UserInfoHide{
    display: none;
}
div.userInfo{
    width: 100%;
    background: #009688;
    border-radius: 2px;
    padding: 12px 8px 8px 8px;
    box-sizing: border-box;
}
div.userDetails{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.userID{
    display: flex;
    flex-direction: row;
    align-items: center;
}
div.userID img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #424242;
    margin: 0 5px 0 13px;
    border: 0;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12)!important;
}
div.userID ul{
    padding-left: 0;
    margin: 0;
    list-style: none;
    color: #fff;
    font-size: 14px;
    margin-left: 15px;
}
div.userID ul li{
    line-height: 22px;
}
div.notice-icon{
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.notice-icon img{
    width: 20px;
    height: 20px;
}
div.userBalance{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-size: 16px;
    padding: 20px 0;
}
div.b-c-t{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.b-cash{
    margin-bottom: 5px;
}
div.userBalance button{
    border-color: #2196f3!important;
    padding: 0 8px;
    margin-top: 5px;
    width: 80px;
    font-size: 14px;
    background: #2196f3!important;
    color: #fff!important;
    position: relative;
    overflow: hidden;
}